<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/Bootstrap.php"
	backupGlobals="false"
	colors="true"
	>
	<php>
		<ini name="zend.enable_gc" value="0" />
		<ini name="memory_limit" value="-1" />
		<!-- error_reporting(E_ALL); -->
		<ini name="error_reporting" value="32767" />
		<ini name="display_errors" value="On" />
		<ini name="display_startup_errors" value="On" />
	</php>

	<testsuites>
		<testsuite name="Test Suite">
			<directory suffix=".php">./tests/Unit</directory>
		</testsuite>
	</testsuites>
</phpunit>
<!-- vim: set ft=xml -->
